body {
  background-color: #f8f9fa;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
}

.actions {
  margin-bottom: 20px;
}

.edit-popup-fields {
  display: grid;
}